@import url( 'https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap' );

/*   *   *   *   *   *   *   *   *   *   */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {

    font-family: 'Roboto', sans-serif;
    font-size: medium;
    font-weight: 300;

    color: #343434;
    text-align: justify;
    user-select: none;

    overflow-x: hidden;
    height: 100vh;
    width: 100vw;

    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;

    justify-content: center;
    align-content: center;
    align-items: center;

    background-color: #aaaaaa;
}

main {
    position: relative;
}

/*   *   *   *   *   *   *   *   *   *   */

#board {

    height: auto;
    width: auto;

    max-height: 100%;
    max-width: 100%;

    border: 5px solid #aaaaaa;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;

    background-color: white;
}

/*   *   *   *   *   *   *   *   *   *   */

#interface {

    position: absolute;
    z-index: 100;
    left: 25%;
    top: 42%;

    height: 16%;
    width: 50%;

    gap: 30px;
    
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    
    transition: all 0.3s ease-in-out;
}

#interface.hidden {
    
    transform: translateX( -50% ) translateY( -50% ) scale( 0 );
    opacity: 0;
}

#interface button {

    margin: auto;

    background-color: transparent;
    border: transparent;
    outline: none;

    font-size: 64px;
    color: #434343;
}

/*   *   *   *   *   *   *   *   *   *   */

#state {

    position: absolute;
    z-index: 200;
    left: 5%;
    top: 5%;

    gap: 20px;
    
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;

    justify-content: space-around;
    align-content: center;
    align-items: center;

    width: 90%;
    height: 90%;

    transition: all 0.3s ease-in-out;

    opacity: 0;
    transform: scale( 0 );

    background-color: rgba( 223, 223, 223, 0.9 );
    border: 1px solid rgba( 207, 207, 207, 0.9 );
    border-radius: 20px;
}

#state.visible {

    opacity: 1;
    transform: scale( 1 );
}

#state .btnClose {

    position: absolute;
    right: 5px;
    top: 5px;

    font-size: 32px;
    background-color: transparent;
    outline: none;
    border: none;

    color: #787878;
}

#state .btnReset {

    position: absolute;
    right: 40px;
    top: 5px;

    font-size: 32px;
    background-color: transparent;
    outline: none;
    border: none;

    color: #787878;
}

#state .preRef {

    width: 100%;

    font-size: 28px;
    font-weight: 100;
    text-transform: uppercase;
    text-align: center;
}

#state .preRef .ref {

    display: block;
    margin: auto;
}

#state .preRef .ref {

    outline: none;
}


#state .preRef.difficulty .ref {

    font-size: 16px;
    font-weight: 100;
    text-transform: uppercase;
    text-align: center;

    border-radius: 5px;
    padding: 10px;
}

#state .preRef.playerColor .ref {

    border-radius: 15px;
    background-color: transparent;
    border: none;

    height: 30px;
    width: 235px;
}

#state .preRef input[type=checkbox] {
    
    height: 35px;
    width: 80px;

    visibility: collapse;
    position: relative;
}

#state .preRef input[type=checkbox]::before {

    content: "";
    position: absolute;
    left: 50%;
    top: 50%;

    transform: translateX( -50% ) translateY( -50% );
    transition: all 0.3s ease-in-out;

    height: 100%;
    width: 100%;

    border-radius: 20px;
    border: 1px solid #cccccc;
    background-color: white;
    visibility: visible;
}

#state .preRef input[type=checkbox]::after {

    content: "";
    position: absolute;
    left: 50%;
    top: 50%;

    transform: translateX( 50% ) translateY( -50% );
    transition: all 0.3s ease-in-out;

    height: 25px;
    width: 25px;

    border-radius: 20px;
    background-color: #dc3545;
    visibility: visible;
}

#state .preRef input[type=checkbox]:checked:after {
    transform: translateX( -150% ) translateY( -50% );
    background-color: #198754;
}

/*   *   *   *   *   *   *   *   *   *   */

#score {

    position: absolute;
    z-index: 100;
    left: 50%;
    top: 25%;

    gap: 20px;
    
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;

    transform: translateX( -50% ) translateY( -50% );
}

#score .preRef {

    font-weight: 100;
    text-transform: uppercase;
    text-align: center;
}

#score .preRef .ref {
    display: block;
}

#score .preRef.currScore {

    color: #343434;
    font-size: 48px;
}

#score .preRef.highScore {

    color: #787878;
    font-size: 32px;
}